pyrogram>=2.0.30
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
bs4
cinemagoer
git+https://github.com/Joelkb/cinemagoer
Heroku3
search_engine_parser
wget
aiofiles
ffmpeg
youtube_search
youtube-search-python==1.4.6
yt-dlp
youtube-dl
requests
aiohttp==3.7.4
gTTS
googletrans==3.1.0a0
telegraph
PyPDF2
ujson
pyshorteners
countryinfo
datetime
pytz
dnspython
python-math
psutil==5.9.4
speedtest-cli


python-dotenv
openai==0.25.0
python-telegram-bot==12.8
pillow==9.5.0
telegraph
doodstream
unshortenit
mdisky
### googletrans==4.0.0-rc1 ###
python-decouple
ffmpeg-python>=0.2.0
ytthumb
YoutubeTags
